/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.answer > * {
    display: block;
    cursor: pointer;
}

.answer p, .answer div  {
    margin: 0.5em 0 0.5em 0;
}
